# Task 2: Data Preprocessing for Machine Learning – AI Bootcamp

Download Titanic Dataset here: https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv

#### About this file

The sinking of the Titanic is one of the most infamous shipwrecks in history.

On April 15, 1912, during her maiden voyage, the widely considered “unsinkable” RMS Titanic sank after colliding with an iceberg. Unfortunately, there weren’t enough lifeboats for everyone on board, resulting in the death of 1502 out of 2224 passengers and crew.

While there was some element of luck involved in surviving, it seems some groups of people were more likely to survive than others.

In this challenge, we ask you to build a predictive model that answers the question: “what sorts of people were more likely to survive?” using passenger data (ie name, age, gender, socio-economic class, etc).

## Section 1: Data Loading & Exploration

### **Task 1**: Load and Inspect a Dataset

*Instruction*: Load the `titanic.csv` dataset and display the first 5 rows. Show basic info and describe statistics of the dataset.

In [1]:
import pandas as pd

df = pd.read_csv('titanic.csv')
print(df.head())
print(df.info())
print(df.describe())

   Survived  Pclass                                               Name  \
0         0       3                             Mr. Owen Harris Braund
1         1       1  Mrs. John Bradley (Florence Briggs Thayer) Cum...
2         1       3                              Miss. Laina Heikkinen
3         1       1        Mrs. Jacques Heath (Lily May Peel) Futrelle
4         0       3                            Mr. William Henry Allen

      Sex   Age  Siblings/Spouses Aboard  Parents/Children Aboard     Fare
0    male  22.0                        1                        0   7.2500
1  female  38.0                        1                        0  71.2833
2  female  26.0                        0                        0   7.9250
3  female  35.0                        1                        0  53.1000
4    male  35.0                        0                        0   8.0500
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887 entries, 0 to 886
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Survived                 887 non-null    int64
 1   Pclass                   887 non-null    int64
 2   Name                     887 non-null    object
 3   Sex                      887 non-null    object
 4   Age                      887 non-null    float64
 5   Siblings/Spouses Aboard  887 non-null    int64
 6   Parents/Children Aboard  887 non-null    int64
 7   Fare                     887 non-null    float64
dtypes: float64(2), int64(4), object(2)
memory usage: 55.6+ KB
None
         Survived      Pclass         Age  Siblings/Spouses Aboard  \
count  887.000000  887.000000  887.000000               887.000000
mean     0.385569    2.305524   29.471443                 0.525366
std      0.487004    0.836662   14.121908                 1.104669
min      0.000000    1.000000    0.420000                 0.000000
25%      0.000000    2.000000   20.250000                 0.000000
50%      0.000000    3.000000   28.000000                 0.000000
75%      1.000000    3.000000   38.000000                 1.000000
max      1.000000    3.000000   80.000000                 8.000000

       Parents/Children Aboard       Fare
count               887.000000  887.00000
mean                  0.383315   32.30542
std                   0.807466   49.78204
min                   0.000000    0.00000
25%                   0.000000    7.92500
50%                   0.000000   14.45420
75%                   0.000000   31.13750
max                   6.000000  512.32920

## Section 2: Handling Missing Values

### **Task 2**: Identify and Handle Missing Data

*Instruction*:



*   Display the number of missing values per column.
*   Fill missing `Age` values with the median.
*   Drop the second row in the dataset.

In [2]:
import pandas as pd

# Sample DataFrame with missing values
data = {
    'Sex': ['male', 'female', 'female', 'male'],
    'Pclass': [1, 3, 2, 1],
    'Age': [22, None, 24, None]
}

df = pd.DataFrame(data)

# 1. Display the number of missing values per column
print("Missing values per column:")
print(df.isnull().sum())

# 2. Fill missing Age values with the median
df['Age'] = df['Age'].fillna(df['Age'].median())

# 3. Drop the second row (index 1)
df = df.drop(index=1)

# Display the modified DataFrame
print("\nModified DataFrame:")
print(df)

Missing values per column:
Sex       0
Pclass    0
Age       2
dtype: int64

Modified DataFrame:
      Sex  Pclass   Age
0    male       1  22.0
2  female       2  24.0
3    male       1  23.0

## Section 3: Encoding Categorical Features

### **Task 3**: Convert Categorical to Numeric

*Instruction*: Convert `Sex` and `Pclass` columns to numeric using:


*   Label Encoding for `Sex`
*   One-Hot Encoding for `Pclass`

In [3]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

# Sample DataFrame
df = pd.DataFrame({
    'Sex': ['male', 'female', 'female', 'male'],
    'Pclass': [1, 3, 2, 1]
})

# Label Encoding for 'Sex' (male -> 1, female -> 0)
label_encoder = LabelEncoder()
df['Sex'] = label_encoder.fit_transform(df['Sex'])

# One-Hot Encoding for 'Pclass'
df = pd.get_dummies(df, columns=['Pclass'], prefix='Pclass')

# Display the transformed DataFrame
print(df)

   Sex  Pclass_1  Pclass_2  Pclass_3
0    1      True     False     False
1    0     False     False      True
2    0     False      True     False
3    1      True     False     False

## Section 4: Feature Scaling

### **Task 4**: Scale Numerical Features

*Instruction*: Use StandardScaler to scale the Age and Fare columns.*italicized text*

In [4]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

# Sample DataFrame with 'Age' and 'Fare' columns
data = {
    'Sex': ['male', 'female', 'female', 'male'],
    'Pclass': [1, 3, 2, 1],
    'Age': [22, 28, 24, 35],
    'Fare': [7.25, 71.2833, 7.925, 53.1]
}

df = pd.DataFrame(data)

# Initialize StandardScaler
scaler = StandardScaler()

# Scale the 'Age' and 'Fare' columns
df[['Age', 'Fare']] = scaler.fit_transform(df[['Age', 'Fare']])

# Display the scaled DataFrame
print("Scaled DataFrame:")
print(df)

Scaled DataFrame:
      Sex  Pclass       Age      Fare
0    male       1 -1.056625 -0.985376
1  female       3  0.150946  1.297470
2  female       2 -0.654101 -0.961312
3    male       1  1.559779  0.649218

## Section 5: Feature Engineering

### **Task 5**: Build Preprocessing Pipeline

*Instruction*: Using `ColumnTransformer` and `Pipeline` from `sklearn`, build a pipeline that:



*   Imputes missing values
*   Scales numeric data
*   Encodes categorical data

In [5]:
import pandas as pd
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.model_selection import train_test_split

# Sample DataFrame with missing values and both numerical and categorical columns
data = {
    'Sex': ['male', 'female', 'female', 'male', None],
    'Pclass': [1, 3, 2, 1, 2],
    'Age': [22, None, 24, 35, None],
    'Fare': [7.25, 71.2833, 7.925, 53.1, None]
}

df = pd.DataFrame(data)

# Split features and target (for the sake of this example, let's assume we want to predict 'Fare')
X = df.drop('Fare', axis=1)  # Features
y = df['Fare']               # Target

# Define preprocessing steps for both categorical and numerical data
# Removed 'Fare' from numeric_features as it's the target variable
numeric_features = ['Age']
categorical_features = ['Sex', 'Pclass']

# Create the column transformer
preprocessor = ColumnTransformer(
    transformers=[
        # Impute missing values for numerical columns and scale them
        ('num', Pipeline([
            ('imputer', SimpleImputer(strategy='mean')),  # Impute missing values with the mean
            ('scaler', StandardScaler())                 # Scale the data
        ]), numeric_features),

        # Impute missing values for categorical columns and encode them
        ('cat', Pipeline([
            ('imputer', SimpleImputer(strategy='most_frequent')),  # Impute missing values with the most frequent value
            ('encoder', OneHotEncoder(handle_unknown='ignore'))    # One-hot encode categorical features
        ]), categorical_features)
    ])

# Build the full pipeline
pipeline = Pipeline([
    ('preprocessor', preprocessor)
])

# Apply the transformations and create the processed DataFrame
X_processed = pipeline.fit_transform(X)

# Show the processed output
print("Transformed Features:")
print(X_processed)

# To see the column names after one-hot encoding
import numpy as np
columns = numeric_features + list(pipeline.named_steps['preprocessor'].transformers_[1][1].named_steps['encoder'].get_feature_names_out(categorical_features))
print("\nColumns after transformation:")
print(columns)

Transformed Features:
[[-1.12938488  0.          1.          0.          1.          0.
   0.        ]
 [ 0.          1.          0.          0.          0.          0.
   1.        ]
 [-0.67763093  1.          0.          0.          0.          1.
   0.        ]
 [ 1.80701581  0.          1.          0.          1.          0.
   0.        ]
 [ 0.          0.          0.          1.          0.          1.
   0.        ]]

Columns after transformation:
['Age', 'Sex_female', 'Sex_male', 'Sex_None', 'Pclass_1', 'Pclass_2', 'Pclass_3']

## Section 6: Feature Engineering

### **Task 6**: Create a New Feature

*Instruction*: Create a new feature `FamilySize` = `Siblings/Spouses Aboard` + `Parents/Children Aboard` + 1.

In [6]:
import pandas as pd

# Sample DataFrame with 'SibSp' (Siblings/Spouses) and 'Parch' (Parents/Children) columns
data = {
    'SibSp': [1, 0, 3, 1, 0],  # Number of siblings or spouses aboard
    'Parch': [0, 1, 1, 0, 0],  # Number of parents or children aboard
}

df = pd.DataFrame(data)

# Create the new 'FamilySize' feature
df['FamilySize'] = df['SibSp'] + df['Parch'] + 1

# Display the DataFrame with the new feature
print(df)

   SibSp  Parch  FamilySize
0      1      0           2
1      0      1           2
2      3      1           5
3      1      0           2
4      0      0           1